<!DOCTYPE html>
<html ng-app="pncApp">
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>groupmove</title>
  <link rel="icon" href="/images/pnc.png" type="image/png">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbJJKxOycA20qFoUm_vCpe-UqjiCOVuG4"></script>
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="MainCtrl as main" class="site">
  <nav>
    <div class="links">
      <ul class="link">
        <li ng-if="main.isAuthenticated()"><a ui-sref="propsIndex" ui-sref-active="active"><img src="/images/search.png"></a></li>
        <li ng-if="(main.isAuthenticated() && main.currentUserGroupId)"><a ui-sref="groupsHome({ id: main.currentUserGroupId })" ui-sref-active="active"><img src="/images/group.png"></a></li>
        <li ng-if="main.isAuthenticated() && !main.currentUserGroupId"><a ui-sref="groupsNew" ui-sref-active="active"><img src="/images/addgroup.png"></a></li>
        <li ng-if="main.isAuthenticated()"><a ui-sref="usersShow({ id: main.currentUserId })" ui-sref-active="active"><img src="/images/profile.png"></a></li>
        <li ng-if="main.isAuthenticated()"><a id="logout-link" ng-click="main.logout()" href="#"><img src="/images/logout.png"></a></li>
        <li ng-if="!main.isAuthenticated()"><a ui-sref="login" ui-sref-active="active"><img src="/images/login.png"></a></li>
        <li ng-if="!main.isAuthenticated()"><a ui-sref="register" ui-sref-active="active"><img src="/images/register.png"></a></li>
      </ul>
    </div>
  </nav>
  <div class="message" ng-if="main.message">{{ main.message }}</div>
  <main ui-view class="site-content"></main>
  <footer>groupmove</footer>
</body>
</html>
